version: 2
jobs:
  build_kinect:
    machine:
      image: ubuntu-1604:201903-01
    steps:
      - checkout
      - run:
          name: Setup Environment
          command: |
            docker login -u ${DOCKER_USER} -p ${DOCKER_PASS}
      - run:
          name: Build and push containers
          command: |
            cd kinect
            docker build -t szymonrychu/ros-melodic-kinect:latest .
            docker tag szymonrychu/ros-melodic-kinect:latest szymonrychu/ros-melodic-kinect:${CIRCLE_SHA1}
            docker push szymonrychu/ros-melodic-kinect:${CIRCLE_SHA1} 
            docker push szymonrychu/ros-melodic-kinect:latest

  build_roscore:
    machine:
      image: ubuntu-1604:201903-01
    steps:
      - checkout
      - run:
          name: Setup Environment
          command: |
            docker login -u ${DOCKER_USER} -p ${DOCKER_PASS}
      - run:
          name: Build and push containers
          command: |
            cd roscore
            docker build -t szymonrychu/ros-melodic-roscore:latest .
            docker tag szymonrychu/ros-melodic-roscore:latest szymonrychu/ros-melodic-roscore:${CIRCLE_SHA1}
            docker push szymonrychu/ros-melodic-roscore:${CIRCLE_SHA1} 
            docker push szymonrychu/ros-melodic-roscore:latest
  
  build_rtabmap:
    machine:
      image: ubuntu-1604:201903-01
    steps:
      - checkout
      - run:
          name: Setup Environment
          command: |
            docker login -u ${DOCKER_USER} -p ${DOCKER_PASS}
      - run:
          name: Build and push containers
          command: |
            cd rtabmap
            docker build -t szymonrychu/ros-melodic-rtabmap:latest .
            docker tag szymonrychu/ros-melodic-rtabmap:latest szymonrychu/ros-melodic-rtabmap:${CIRCLE_SHA1}
            docker push szymonrychu/ros-melodic-rtabmap:${CIRCLE_SHA1} 
            docker push szymonrychu/ros-melodic-rtabmap:latest
  
  build_platform:
    machine:
      image: ubuntu-1604:201903-01
    steps:
      - checkout
      - run:
          name: Setup Environment
          command: |
            docker login -u ${DOCKER_USER} -p ${DOCKER_PASS}
      - run:
          name: Build and push containers
          command: |
            cd platform
            docker build -t szymonrychu/ros-melodic-platform:latest .
            docker tag szymonrychu/ros-melodic-platform:latest szymonrychu/ros-melodic-platform:${CIRCLE_SHA1}
            docker push szymonrychu/ros-melodic-platform:${CIRCLE_SHA1} 
            docker push szymonrychu/ros-melodic-platform:latest

              
  build_path_planner:
    machine:
      image: ubuntu-1604:201903-01
    steps:
      - checkout
      - run:
          name: Setup Environment
          command: |
            docker login -u ${DOCKER_USER} -p ${DOCKER_PASS}
      - run:
          name: Build and push containers
          command: |
            cd path_planner
            docker build -t szymonrychu/ros-melodic-path-planner:latest .
            docker tag szymonrychu/ros-melodic-path-planner:latest szymonrychu/ros-melodic-path-planner:${CIRCLE_SHA1}
            docker push szymonrychu/ros-melodic-path-planner:${CIRCLE_SHA1} 
            docker push szymonrychu/ros-melodic-path-planner:latest

  # tagged_build:
  #   machine: true
  #   steps:
  #     - checkout
  #     - run:
  #         name: Setup Environment
  #         command: |
  #           docker login -u ${DOCKER_USER} -p ${DOCKER_PASS}
  #     - run:
  #         name: Tag all containers
  #         command: |
  #           docker pull szymonrychu/ros:${CIRCLE_SHA1}
  #           TAG_NAME=$(git describe --exact-match --tags ${CIRCLE_SHA1}) && (
  #               docker tag szymonrychu/ros:${CIRCLE_SHA1} szymonrychu/ros:${TAG_NAME}
  #               docker push szymonrychu/ros:${TAG_NAME}
  #           )
            
workflows:
  version: 2
  # tagged_build:
  #   jobs:
  #     - tagged_build:
  #         filters:
  #           branches:
  #             ignore: /.*/
  #           tags:
  #             only: /.*/
  build_kinect:
    jobs:
      - build_kinect
  build_roscore:
    jobs:
      - build_roscore
  build_rtabmap:
    jobs:
      - build_rtabmap
  build_platform:
    jobs:
      - build_platform
  build_path_planner:
    jobs:
      - build_path_planner